<script src="https://accounts.google.com/gsi/client" async defer></script>
<h1>Hello!</h1>
<h3>Click the button below to authorize this application to access your profile information from Google. Thanks for visiting!</h3>

<div id="g_id_onload"
    data-client_id="1032047830318-3uh58rtmdlaidbo4dqerrvpbmvkgaaee.apps.googleusercontent.com"
    data-login_uri="http://localhost:8080">
</div>
<div class="g_id_signin"
    data-type="standard"
    data-size="large"
    data-theme="outline"
    data-text="sign_in_with"
    data-shape="rectangular"
    data-logo_alignment="left">
</div>